@font-face {
    font-family: monsterrat-semibold;
    src: url('font/Montserrat-SemiBold.ttf');    
}

body {
    background-color: white;   
    font-family: montserrat, sans-serif, verdana;
    font-size: 18px;
}
